body {
  margin: 0;
  padding: 0;
  height: 100px;
  letter-spacing: 1px;
}
nav {
  position: relative;
  padding: 0px;
  margin: 0px;
}
.container {
  position: relative;
  width: 100%;
}
#header-container {
  display: flex;
}
.imagem1 img {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 5%;
  left: 170px;
  transform: translate(-50%, -50%);
}
.imagem2 img {
  width: 70.73px;
  height: 29.9px;
  position: absolute;
  top: 5%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-right: 5px;
}

.imagem3 img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 100px;
  transform: translate(-50%, -50%);
}
.carrinho :hover {
  color: #ffffff;
  transition: 0.5s;
}
.logo :hover {
  transition: 4s;
}

.menu {
  position: absolute;
  top: 5%;
  right: 3px;
  transform: translate(-50%, -50%);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu ul li {
  margin-right: 20px;
  margin: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

video {
  width: 100%;
}
.album {
  width: 312px;
  height: 300px;
  align-items: center;
}
.article {
  padding: 20px;
}

.card {
  background-color: #18385b;
  margin: 8px;
  width: 312px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  padding: 0px;
  border: 1px solid #0ba0ea;
}
.card :hover {
  transition: 1s;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  color: #0ba0ea;
  font-weight: 900;
}
p {
  font-size: 16px;
  color: #0ba0ea;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.footer {
  width: 100%;
  height: 200px;
}
ul {
  list-style: none;
}
ul a {
  color: #0ba0ea;
  text-decoration: none;
}
h3 {
  color: #0ba0ea;
}
.social-links i {
  color: white;
  align-items: center;
  padding: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.social-links :hover {
  color: #0ba0ea;
  transition: 0.6s;
}

p {
  text-align: center;
  margin: 30px;
  color: white;
}
footer li a {
  text-align: center;
  margin-right: 30px;
}

ul {
  display: flex;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    width: 100%;
    justify-content: center;
    position: relative;
  }
}
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .menu {
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .imagem2 {
    display: none;
  }
  #header-container {
    justify-content: center;
  }
  #container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 673px) {
  #container {
    justify-content: center;
  }
}
@media only screen and (min-width: 673px) and (max-width: 1000px) {
  #container {
    justify-content: center;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1920px) {
  #container {
    justify-content: center;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1314px) {
  #container {
    justify-content: center;
  }
}
@media only screen and (min-width: 882px) and (max-width: 1024px) {
  #container {
    justify-content: center;
  }
}
